# C++17, Catch2 CHECK e headers resolvidos por -Iinclude são escolhas do projeto.
# O lint não deve inventar atribuições de copyright.
filter=-build/c++11,-build/include_subdir,-readability/check,-legal/copyright
